@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');


.left img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}


#quote {
  font-family: 'Lily Script One', cursive;
  font-size: 4rem;
}

.bottom .right img {
  width: 500px;
}