@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Open+Sans:wght@300;400;800&display=swap');

:root {
  --black: #242B2E;
  --gray: #758283;
  --white: #fdfdf8;
}

body {
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav .logo img {
  width: 100px;
}

.links {
  font-weight: 100;
  display: flex;
  gap: 2em;
  font-size: 1.2rem;
}

.links::before {
  display: block;
  position: relative;
  content: "";
  width: 350px;
  height: 2px;
  top: 12px;
  background-color: var(--black);
}

.links span:first-child {
  font-weight: 400;
}


.left img {
  position: absolute;
  left: -50px;
  top: 0;
  height: 100vh;
  z-index: -1;
}

/* top section */
.right .top .left h1 {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.right .top .left h1:first-child {
  -webkit-text-stroke: 1px var(--black);
  color: var(--white);
}

.right .top .left h1:nth-child(2) {
  margin-top: -35px;
  margin-left: 120px;
}


.right .top .right {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  justify-content: center;
  width: 40px;
  position: absolute;
  top: 100px;
  right: 30px;

}

.right .top .right img {
  height: 25px;
}

.right .middle {
  float: right;
  margin-right: 100px;
}

.right .middle span {
  font-size: 1.5rem;
  margin: 0;
  position: absolute;
  top: 220px;
  right: 300px;
  width: 100px;
  color: var(--gray)
}

.right .middle button {
  font-size: 1.8rem;
  padding: 12px 40px;
  background-color: var(--black);
  color: var(--white);
}


/* Bottom section */


#quote {
  font-family: 'Lily Script One', cursive;
  font-size: 5rem;
  position: absolute;
  bottom: 320px;
  right: 620px;
}

.bottom .right img {
  width: 500px;
  position: absolute;
  bottom: -70px;
  right: 150px;
}

.right {
  width: 60%;
  float: right;
}


/* bottom section */
.bottom .left {
  position: absolute;
  bottom: 30px;
  margin-left: 20px;
}

.bottom .left h4 {
  margin-bottom: 45px;
  font-weight: 400;
  color: var(--gray);
}

.bottom .left h4:first-child {
  color: var(--black);
}

.bottom .left h4::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: var(--gray);
  top: 4px;
}

.bottom .left h4:first-child:before {
  background-color: var(--black);
}

.bottom .line {
  height: 100%;
  width: 2px;
  background-color: var(--gray);
  position: absolute;
  top: 42px;
  left: 8px;
}

.bottom .right h4 {
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  right: 145px;
  bottom: 260px;
}