@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Open+Sans:wght@300;400;800&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav .logo img {
  width: 100px;
}

.links {
  font-weight: 100;
  display: flex;
  gap: 1em;
  font-size: 1.2rem;
}

.links::before {
  display: block;
  position: relative;
  content: "";
  width: 350px;
  height: 2px;
  top: 12px;
  background-color: #000;
}

.links span:first-child {
  font-weight: 400;
}


.left img {
  position: absolute;
  left: -50px;
  top: 0;
  height: 100vh;
  z-index: -1;
}






/* Bottom section */


#quote {
  font-family: 'Lily Script One', cursive;
  font-size: 5rem;
  position: absolute;
  bottom: 320px;
  right: 620px;
}

.bottom .right img {
  width: 500px;
  position: absolute;
  bottom: -70px;
  right: 150px;
}

.right {
  width: 60%;
  float: right;
}


/* bottom section */
.bottom .left {
  position: absolute;
  bottom: 30px;
  margin-left: 20px;
}

.bottom .left h4 {
  margin-bottom: 45px;
  font-weight: 400;
  color: #758283;
}

.bottom .left h4:first-child {
  color: #000;
}

.bottom .left h4::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #758283;
  top: 4px;
}

.bottom .left h4:first-child:before {
  background-color: #000;
}

.bottom .line {
  height: 100%;
  width: 2px;
  background-color: #758283;
  position: absolute;
  top: 42px;
  left: 8px;
}

.bottom .right h4 {
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  right: 145px;
  bottom: 260px;
}